
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light">

	<ul class="navbar-nav">
		<li class="nav-item">
			<i class="nav-item fa fa-phone "></i>+1 (443) 892-0499 &nbsp;&nbsp;&nbsp;
		</li>

		<li class="nav-item">
			<i class="nav-item fa fa-envelope"></i>  info@zestbs.com
		</li>&nbsp;&nbsp;&nbsp;
	</ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm   " style="margin: top 40px; background-color: rgba(224, 226, 228, 0.173);">

  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
		<img
        src="assets/IMG_20221020_225859.jpg"
		style="padding-bottom: 20px;"
        height="100"
      />
      <span class="ml-3 " style="font-family:'Courier New', monospace; font-weight: 545; font-size: 20px;"><span style="font-size: 40PX; font-weight: 750;  font-family: 'Courier New', monospace;">ZEST</span> business solutions</span>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbar4"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav mr-auto pl-lg-4">
        <li class="nav-item px-lg-2 active">
          <label class="nav-link" href="#" (click)="home()">
            <span class="d-inline-block d-lg-none icon-width"
              ></span
            >HOME</label
          >
        </li>
        <!-- <li class="nav-item px-lg-2"> <a class="nav-link" href="#"><span class="d-inline-block d-lg-none icon-width"><i class="fas fa-spa"></i></span>Services</a> </li> -->
        <li class="nav-item px-lg-2 active">
          <label class="nav-link" href="#" (click)="about()"
            ><span class="d-inline-block d-lg-none icon-width"
              ></span
            >ABOUT</label
          >
        </li>

        <li class="nav-item px-lg-2 dropdown d-menu active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><span class="d-inline-block d-lg-none icon-width"
              ></span
            >SERVICES▼
          </a>
          <div
            class="dropdown-menu shadow-sm sm-menu"
            aria-labelledby="dropdownMenuLink"
          >
            <!-- <label class="dropdown-item" href="#" (click)="equipment()"
              >Scientific Equipment And Supplies</label
            > -->
            <label class="dropdown-item hvr" (click)="consulting()">Consulting</label>
            <label class="dropdown-item" href="#" (click)="training()">Training</label>
            <!-- <label class="dropdown-item" href="#" (click)="management()">IT Management Support</label> -->
          </div>
        </li>

        <li class="nav-item px-lg-2 active">
          <label class="nav-link" href="#" (click)="contact()"
            ><span class="d-inline-block d-lg-none icon-width"
              ><i></i></span
            >CONTACT US</label
          >
        </li>
      </ul>
      <ul class="navbar-nav aa1" >
        <!-- mt-3 mt-lg-0 -->
        <li class="nav-item" >
          <a class="nav-link" href="#">
            <i class="fa fa-twitter fa-lg fa-solid"></i
            >
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-facebook fa-lg fa-solid"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-instagram fa-lg fa-solid"></i
            >
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-linkedin fa-lg fa-solid"></i
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
