
<footer  class="text-center text-lg-start text-white"
style="background-color: #1c2331"
>
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-between p-4" style="background-color: #2d2461;">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span style="font-size: 18px;">Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter fa-lg fa-solid"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook fa-lg fa-solid"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram fa-lg fa-solid"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin fa-lg fa-solid"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">Zest business solutions
          </h6>
          <hr
          class="mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; background-color: #7c4dff; height: 2px"
          />
          <p class="aa1">
				Zest is a customer-centric IT consulting company that offers both consulting and technical recruiting services. Zest provides all IT related services with prime quality by partnering with clients. Zest is affordable, approachable and flexible, and offers the utmost customer satisfaction.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful Links
          </h6>
          <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
          <p>
            <a href="home()" class="text-reset">Home</a>
          </p>
          <p>
            <a href="about()" class="text-reset">About</a>
          </p>
          <p>
            <a href="contact()" class="text-reset">Contact Us</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Our Services
          </h6>
          <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
          <p>
             <a href="consulting()"  class="text-reset">Consulting</a>

          </p>
          <p>
            <a href="training()" class="text-reset">Training</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
          <p><i class="fa fa-address-card me-3"></i> 5062 Stone Hill Dr, Ellicott City,</p>
		  <p style="padding-left: 40px;">Maryland 21043</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            info@zestbs.com
          </p>
          <p><i class="fa fa-phone me-3"></i>&nbsp;+1 (443) 892-0499</p>
          <!-- <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p> -->
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.02);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Zestbs.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
