<app-header></app-header>


  <div class="container body">
      <section class="text-start">
          <h4>
              About Us
          </h4>
          <p >
			Zest is a customer-centric IT consulting company, located in Maryland, USA. We understand every client's needs are different and unique. Therefore, our diversified team members interact with customers to understand the requirements and build a strategic solution in time in a cost-effective way without compromising quality.
          </p>
          <p>We deliver world-class professional services with deep business and technical acumen. Our services include consulting, technical recruiting and training. Our highly skilled team consists of experienced professionals and experts in various disciplines, through which we provide various technical and management solutions to our clients. Moreover, by continuously refining our skills and learning new technologies, we accomplish the client's goals with confidence.</p>
		  <p>Our ultimate mission is to partner with clients to develop and provide a strategic cutting-edge solution

			and help them to achieve their goal contentedly.</p>

			<h3>Our Values</h3>
			<p>Utmost customer satisfaction is our motto, which is achievable by following <span class="text">"ATIQ"</span> (<span class="text">A</span>ccountability

			<span class="text">T</span>eamwork  <span class="text">I</span>ntegrity  <span class="text">Q</span>uality).</p>
			<p><span class="text" >Accountability:</span><span style="padding-left:10px;">Accountability is essential for building trust; thus, we do take responsibility for each of our actions/interactions.</span></p>
			<p><span class="text" >Teamwork:</span><span style="padding-left: 10px;">Teamwork constantly yields the better results; therefore, we pair with our customers as a team to work towards their goal.</span></p>
			<p><span class="text">Integrity:</span><span style="padding-left: 10px;"> Actions with strong ethics and honesty are core business practices to earn respect. Hence, we do act as per our agreements and promised deliverables.</span></p>
			<p><span class="text" >Quality:</span><span style="padding-left:10px;"> companies are judged by the quality of the deliverables, so the highest standards are our

				foremost priority.</span></p>
		</section>

  </div>
  <app-footer></app-footer>


