<app-header></app-header>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="assets/success-2081168.jpg" class="d-block w-100 img1" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Zest Business Solutions</h3>
		  <h5>Prime Business Solutions with Affordability</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/sunset-1807524_1920.jpg" class="d-block w-100 img2" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Consulting</h3>
		  <h5>Partnering with Clients to Provide the Best Solutions</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/job-5382501_1920.jpg" class="d-block w-100 img3" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h3>Training</h3>
		  <h5>Technical Training and Empowerment</h5>
		</div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</div>

  <section class="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-heading">ABOUT US</h2>
                <p class="lead aa1" style="font-size: 18px;">Zest is a customer-centric IT consulting company, located in Maryland, USA. We understand every client's needs are different and unique. Therefore, our diversified team members interact with customers to understand the requirements and build a strategic solution on time and in a cost-effective way without compromising quality.</p>
                <p class="aa1">We deliver world-class professional services with deep business and technical acumen. Our services include consulting, technical recruiting and training. Our highly skilled team consists of experienced professionals and experts in various disciplines, through which we provide various technical and management solutions to our clients. Moreover, by continuously refining our skills and learning new technologies, we accomplish the client's goals with confidence..</p>
            </div>
            <div class="col-md-6">
                <img src="assets/startup-849805_1920.jpg" class="img-responsive" alt="Image Intro" >
            </div>
        </div>
    </div>
</section>



<section class="body2">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="">

							<h2 class="boxed-content-title">CONSULTING SERVICES</h2>
							<p class="aa1">Zest provides both consulting and technical recruiting services. We have the experience and resources to provide organizations with the best services and help organizations in designing, installing, deploying and run their IT, communications and network systems by providing services. Zest believes that skilled people with demonstrated expertise are needed for the success of any organization. Our trained team members will work with the clients to understand their needs and goals of their staffing strategy.</p><br />
							<!-- <button (click)="consulting()" id="myBtn">Read more</button> -->
							<button class="button" style="vertical-align:middle" (click)="consulting()"><span>More </span></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
						<h2 class="boxed-content-title">TRAINING</h2>
							<p class="aa1">Knowledge is power, and organizational growth depends upon employee knowledge and performance. Technical training is really essential for enlightening the existing knowledge and cultivating new skills. Thus, the technical training of staff must always be a component of any successful business.

								Zest provides technical training for aspirants by which we cultivate self-confidence of candidates by refining their existing knowledge and making them acquire new skills. This educational technical training will help the candidate to handle dynamic targets under pressure with effective communication. </p>
							<!-- <button (click)="training()" id="">Read more</button> -->
							<button class="button" style="vertical-align:middle" (click)="training()"><span>More </span></button>


                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

